@charset "UTF-8";
/*見出し・文章*/
.req,.error-message{
	color:red;
}
input{
	width:100%;
}
/*ボタン*/
.detail-btn{
	background: transparent;
	border: none;
	appearance: none;   
	-webkit-appearance: none;
	box-shadow: none;    
	outline: none;
	cursor: pointer;   	
	color:blue;
	text-decoration:underline solid blue;
	font-size:15px;
}
.new-account-btn,.close-btn,.save-btn{
	padding: 10px 20px;
	margin: 5px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}
.close-btn,.save-btn:hover{
	border:1px solid #4169e1;
	background-color: #ffffff;
	color:#4169e1;
}
.close-btn:hover,.save-btn{
	border:1px solid #4169e1;
	background-color: #4169e1;
	color:#ffffff;
}
.new-account-btn{
	border:1px solid #73992c;
	background-color: #73992c;
	color:#ffffff;
}
.new-account-btn:hover{
	border:1px solid #73992c;
	background-color: #ffffff;
	color:#73992c;
}
/*ポップアップ*/
#wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    padding: 20px 10px;
}

#inside {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
	background: #C5E0B4;
	border:1px solid #41e169;
    border-radius: 8px;
}

#message {
    width: 100%;
}
/*テーブル*/

table {
  width: 100%;
  min-width: 600px; 
}

thead{
	background-color: #4169e1;
}


th {
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

th, td {
  border: dashed 1px #777;
}
/*footer*/
footer{
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
	text-align: center;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #555;
}