@charset "UTF-8";
/*テーブル*/

table {
  width: 100%;
  min-width: 600px; 
}

thead{
	background-color: #4169e1;
}


th {
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

th, td {
  border: dashed 1px #777;
}
.amount{
	text-align: right;
}
/*footer*/
footer{
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
	text-align: center;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #555;
}
/*テーブルのレスポンシブ*/
@media screen and (max-width: 600px) {

table {
    min-width: auto;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
}