@charset "UTF-8";
h1,h2,h3,h4,form,.center-btn,p{
	text-align: center;
}
h1{
	color:#99b3ff;
}

.req,.error-message{
	color:red;
}

.update-btn{
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	padding:12px 40px;
	background:#beedbe;
	color:#000000;
	border:2px solid #5d995d;
}
.update-btn:hover{
	background: #ffffff;
	color:#000000;
}
