@charset "UTF-8";
/*見出し*/
h2{
	display:inline-block;
	width:270px;
	border: 2px solid #000000;
	font-size:15px;
	padding: 10px 3px;
	margin:8px;
}
h3{
	padding :0px 10px;
}

.finance{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
	
}
.data_area{
	display: flex;
	align-items: flex-end;
}
.fiscal {
  display: flex;
  flex-direction: column;
  margin:20px;
  width:50%;
  border:1px solid #234 ;
}

.income{
	background-color: #006400;
	color:#ffffff;
}
.data{
	flex-direction: column;
}
.expend{
	background-color: #990e2a ;
	color:#ffffff;
}
.balance_graph{
	border:1px solid #234 ;
	height:300px;
	width: 1800px;
	margin:16px;
}
.spend_graph{
	border:1px solid #234 ;
	width: 100%;
	height: 300px;
}

.textbox{
	width:250px;
}

.search{
	display: flex;
	flex-direction: column;
	border:1px solid #234 ;
	width:50%;
	margin:20px;
}
/*テーブル*/
.searchTable{
	margin:auto;
}
.searchTable td,.searchTable th{
	padding: 18px;
}
.dataTable{
	border-collapse: collapse;
	width:100%;
	padding:18px;
}
.dataTable th{
	background-color:#4169e1;
	color:#ffffff;
}

/*ボタン*/
.searchBtns{
	text-align:right;
	margin:16px;
}

.reset-btn{
	display:inline-block;
	width:100px;
	border:1px solid #4169e1;
	background-color: #ffffff;
	color:#234;
	font-size:14px;
	text-align:center;
	padding: 10px 3px;
	margin:3px;
	text-decoration: none;
	
}
.display-btn{
	display:inline-block;
	width:100px;
	border:1px solid #4169e1;
	background-color: #4169e1;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	padding: 10px 3px;
	margin:3px;
	text-decoration: none;
}