@charset "UTF-8";
.finance{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
	
}
.data_area{
	display: flex;
}
.fiscal {
  display: flex;
  flex-direction: column;
  margin:20px;
  width:50%;
  border:1px solid #234 ;
}
h2{
	display:inline-block;
	width:270px;
	border: 2px solid #000000;
	font-size:15px;
	padding: 10px 3px;
	margin:8px;
}
.income{
	background-color: #006400;
	color:#ffffff;
}
.expend{
	background-color: #990e2a ;
	color:#ffffff;
}
canvas{
	border:1px solid #234 ;
}

.textbox{
	width:250px;
}

.search{
	border:1px solid #234 ;
	width:50%;
	margin:20px;
}
.searchTable{
	margin:auto;
}

.reset-btn{
	display:inline-block;
	width:100px;
	border:1px solid #4169e1;
	background-color: #ffffff;
	color:#234;
	font-size:14px;
	text-align:center;
	padding: 10px 3px;
	margin:3px;
	text-decoration: none;
}
.display-btn{
	display:inline-block;
	width:100px;
	border:1px solid #4169e1;
	background-color: #4169e1;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	padding: 10px 3px;
	margin:3px;
	text-decoration: none;
}