@charset "UTF-8";

/*見出し・文章*/
.req,.error-message{
	color:red;
}
.reason {
  display: none;
  margin-top: 10px;
}


/*画面*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin:20px;
}
.section_menu{
	display: flex;
	justify-content: space-between;
	width:100%;
	max-width:800px;
}
.notice, .menu_subtitle {
  width: 100%;
  max-width: 800px;
  text-align: left; 
}


/*ボタン*/
.btn,.edit-close-btn,.insert-close-btn,.approvel-close-btn,.delete-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.btn,.insert-btn,.edit-btn,.submited-btn{
	background-color: #73992c;
	border:solid 1px #73992c;
	color:#ffffff;
	text-decoration: none;
}
.btn:hover,.insert-btn:hover,.edit-btn:hover,.submited-btn:hover{
	background-color: #ffffff;
	border:solid 1px #73992c;
	color: #73992c;
}
.insert-btn,.edit-btn,.submited-btn{
	padding: 3px 20px;
    margin: 5px;
	border-radius: 4px;
    cursor: pointer;
    border: none;
}
.edit-close-btn,.insert-close-btn,.approvel-close-btn{
	background-color: #ffffff;
	border:solid 1px #73992c;
	color: #73992c;
}
.edit-close-btn:hover,.insert-close-btn:hover,.approvel-close-btn:hover{
	background-color: #73992c;
	border:solid 1px #73992c;
	color:#ffffff;
}
.delete-btn{
	border:1px solid #dc143c;
	background-color: #dc143c;
	color:#ffffff;
}

.delete-btn:hover{
	border:1px solid #dc143c;
	background-color: #ffffff;
	color:#dc143c;
}
/*進行中書類*/
.process{
	height:500px;
	min-width: 800px; 
	overflow-y: auto;
	overflow-x: hidden;
}
.process .item{
	width:100%;	
	padding:15px 5px;
	border:solid 1px #345;
	background-color: #c8fac8;
	margin: 10px 0;
	box-sizing: border-box;
}
.process .info{
	display:flex;
}
.left{
	display:flex;
}
.right{
	border:solid 1px #345;
	width:100%;
}
.item-btn{
	text-align: center;
	padding:10px;
}
.approvel-btn{
	width:50px;
	height: 50px;
	background-color: #90ee90;
	border:solid 3px #556b2f;
	color:red;
	font-weight: bold;
	font-size:large;
}
.approvel-btn:hover{
	background-color: #98fb98;
}

/*提出済み*/
.submited{
	height:400px;
	min-width: 800px; 
	overflow-y: auto;
	overflow-x: hidden;
}
.submited .item{
	display:flex;
	justify-content: space-between;
	width:100%;	
	padding:15px 5px;
	border:solid 1px #345;
	background-color: #c8fac8;
	margin: 10px 0;
	box-sizing: border-box;
}
.yearSelect{
	padding: 3px 20px;
	margin: 5px;
	border-radius: 4px;
}

/*ポップアップ*/
#insert-wrapper,.edit-wrapper,.approvel-wrapper   {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    padding: 20px 10px;
}

#insert-inside,#edit-inside,#approvel-inside {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
	background: #C5E0B4;
	border:1px solid #41e169;
    border-radius: 8px;
}

#message {
    width: 100%;
}


/*テーブル*/

.notice-table{
	height:200px;
	overflow-y: auto;
	border-collapse:separate;
	border-spacing:0;
	empty-cells:show;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px; 
}

thead{
	position:sticky;
	top:0;
	background-color: #4169e1;
}


th {
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

th, td {
  border: dashed 1px #777;
}

/*footer*/
footer{
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
	text-align: center;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #555;
}
