@charset "UTF-8";

.req,.error-message{
	color:red;
}
/*画面*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;   
  margin:20px;
}
.section_menu{
	display: flex;
	justify-content: space-between;
	width:100%;
	max-width:800px;
}
.notice, .menu_subtitle {
  width: 100%;
  max-width: 800px;
  text-align: left; 
}
.log_table{
	height:500px;
	overflow-y: auto;
}

/*ボタン*/
.btn,.edit-close-btn,.insert-close-btn,.payment-close-btn,.delete-btn,.member-close-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.btn,.insert-btn,.setting-btn,.payment-btn,.member-setting-btn{
	background-color: #73992c;
	border:solid 1px #73992c;
	color:#ffffff;
	text-decoration: none;
}
.btn:hover,.insert-btn:hover,.setting-btn:hover,.payment-btn:hover,.member-setting-btn:hover{
	background-color: #ffffff;
	border:solid 1px #73992c;
	color: #73992c;
}
.insert-btn,.setting-btn{
	padding: 3px 20px;
    margin: 5px;
	border-radius: 4px;
    cursor: pointer;
    border: none;
}
.edit-close-btn,.insert-close-btn,.payment-close-btn,.member-close-btn{
	background-color: #ffffff;
	border:solid 1px #73992c;
	color: #73992c;
}
.edit-close-btn:hover,.insert-close-btn:hover,.payment-close-btn:hover,.member-close-btn:hover{
	background-color: #73992c;
	border:solid 1px #73992c;
	color:#ffffff;
}

.delete-btn{
	border:1px solid #dc143c;
	background-color: #dc143c;
	color:#ffffff;
}

.delete-btn:hover{
	border:1px solid #dc143c;
	background-color: #ffffff;
	color:#dc143c;
}

/*ポップアップ*/
#insert-wrapper,.payment-wrapper,.member-wrapper  {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    padding: 20px 10px;
}

#insert-inside,#payment-inside,#member-inside{
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
	background: #C5E0B4;
	border:1px solid #41e169;
    border-radius: 8px;
}

/*テーブル*/

.notice-table,.payment_table{
	height:200px;
	overflow-y: auto;
	border-collapse:separate;
	border-spacing:0;
	empty-cells:show;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px; 
}

thead{
	position:sticky;
	top:0;
	background-color: #73992c;
}


th {
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

th, td {
  border: dashed 1px #777;
}

/*footer*/
footer{
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
	text-align: center;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #555;
}
