@charset "UTF-8";

/*ポップアップ*/
#fo-ed-wrapper,#st-ed-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    padding: 20px 10px;
}

#fo-ed-inside,#st-ed-inside {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    border-radius: 8px;
}

#fo-ed-inside{
	background: #DAE3F3;
	border:1px solid #4169e1;
}
#st-ed-inside{
	background: #C5E0B4;
	border:1px solid #41e169;
}

/*ボタン*/
.send-btn,.form-save-btn,.status-save-btn,.fo-ed-btn,.st-ed-btn,.delete-btn,.form-edit-btn,.status-edit-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.fo-ed-btn,.st-ed-btn,
.send-btn:hover,.form-save-btn:hover,.status-save-btn:hover {
	border:1px solid #4169e1;
	background-color: #ffffff;
	color:#4169e1;
}
.send-btn,.form-save-btn,.status-save-btn,
.fo-ed-btn:hover,.st-ed-btn:hover {
	border:1px solid #4169e1;
	background-color: #4169e1;
	color:#ffffff;
}

.form-edit-btn,.status-edit-btn{
	border:1px solid #73992c;
	background-color: #73992c;
	color:#ffffff;
}
.form-edit-btn:hover,.status-edit-btn:hover{
	border:1px solid #73992c;
	background-color: #ffffff;
	color:#73992c;
}


.delete-btn{
	border:1px solid #dc143c;
	background-color: #dc143c;
	color:#ffffff;
}

.delete-btn:hover{
	border:1px solid #dc143c;
	background-color: #ffffff;
	color:#dc143c;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;          
}
.buttons-right {
    display: flex;      
    gap: 10px;          
}


/*テーブル*/

table {
  width: 100%;
  min-width: 600px; 
}

thead{
	background-color: #4169e1;
}


th {
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

th, td {
  border: dashed 1px #777;
}

/*footer*/
footer{
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
	text-align: center;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #555;
}