@charset "UTF-8";
h1,h2,h3,h4,form,.center-btn,p{
	text-align: center;
}
h1{
	color:#99b3ff;
}

.req,.error-message{
	color:red;
}

.send-btn{
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	padding:12px 40px;
	background:#beedbe;
	color:#000000;
	border:2px solid #5d995d;
}
.send-btn:hover{
	background: #ffffff;
	color:#000000;
}

.signin-btn{
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	padding:12px 40px;
	background:#ffffff;
	color:#000000;
	border:2px solid #5d995d;
	text-decoration: none;
}

.signin-btn:hover{
	background: #beedbe;
	color:#000000;
	
}
footer{
	position: fixed;
	bottom: 0;
 	width: 100%;
	padding: 20px 0; 
	background: #f7f7f7; 
	text-align: center;
}
footer p{
	margin: 0; 
	font-size: 14px; 
	color: #555;
}